# 3. Hafta Lab-3: Uzaklıkların Bulunması
## BGM 565: Siber Güvenlik için Makine Öğrenme Yöntemleri
## İstanbul Şehir Üni. - Bilgi Güvenliği Müh.
### Dr. Ferhat Özgür Çatak
Bu lab çalışmasında **Chebysev**, **Jaccard**, **Euclidean**, **Cosine**, **Cityblock** uzaklık/benzerliklerinin *KDDCUP'99* veri kümesine uygulamalarını inceleyeceğiz.

In [1]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import squareform
from scipy.spatial.distance import pdist

KDDCUP'99 Verikümesini oku

In [2]:
# veri kumesini oku
kolon_adlari = ['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent',
'hot','num_failed_logins','logged_in','num_compromised','root_shell','su_attempted','num_root','num_file_creations',
'num_shells','num_access_files','num_outbound_cmds','is_host_login','is_guest_login','count','srv_count',
'serror_rate','srv_serror_rate','rerror_rate','srv_rerror_rate','same_srv_rate','diff_srv_rate','srv_diff_host_rate',
'dst_host_count','dst_host_srv_count','dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate',
'dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate',
'dst_host_srv_rerror_rate','label']

verikumesi = pd.read_csv("kddcup99.tar.gz",compression="gzip", names=kolon_adlari, 
low_memory=False, skiprows=1)

# ilgili kolonlari sec
secilecek_kolonlar = ['duration','src_bytes','dst_bytes','wrong_fragment','urgent','hot','num_failed_logins',
'num_compromised','root_shell','su_attempted','num_root','num_file_creations','num_shells',
'num_access_files','num_outbound_cmds','count','srv_count','serror_rate','srv_serror_rate',
'rerror_rate','srv_rerror_rate','same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count',
'dst_host_srv_count','dst_host_same_srv_rate','dst_host_diff_srv_rate','dst_host_same_src_port_rate',
'dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate',
'dst_host_srv_rerror_rate']

verikumesi = verikumesi[secilecek_kolonlar]

Veri kümesinden rastgele 10 adet örneklem al.

In [3]:
verikumesi = verikumesi.sample(10)
verikumesi

,duration,src_bytes,dst_bytes,wrong_fragment,urgent,hot,num_failed_logins,num_compromised,root_shell,su_attempted,...,dst_host_count,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate
414594,0,520,0,0,0,0,0,0,0,0,...,255,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0
37961,0,200,354,0,0,0,0,0,0,0,...,41,255,1.00,0.00,0.02,0.02,0.0,0.0,0.0,0.0
251912,0,1032,0,0,0,0,0,0,0,0,...,255,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0
226400,0,1032,0,0,0,0,0,0,0,0,...,255,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0
104811,0,303,434,0,0,0,0,0,0,0,...,93,255,1.00,0.00,0.01,0.02,0.0,0.0,0.0,0.0
71591,0,0,0,0,0,0,0,0,0,0,...,255,5,0.02,0.07,0.00,0.00,1.0,1.0,0.0,0.0
92470,0,1032,0,0,0,0,0,0,0,0,...,255,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0
111204,0,0,0,0,0,0,0,0,0,0,...,255,9,0.04,0.08,0.00,0.00,1.0,1.0,0.0,0.0
69492,0,0,0,0,0,0,0,0,0,0,...,255,10,0.04,0.07,0.00,0.00,1.0,1.0,0.0,0.0
393148,0,0,0,0,0,0,0,0,0,0,...,255,9,0.04,0.05,0.00,0.00,1.0,1.0,0.0,0.0

Veri kümesinin her bir noktasının birbirlerine olan uzaklığı hesapla

In [4]:
res = pdist(verikumesi, 'euclidean')
pd.options.display.float_format = '{:.2f}'.format
distance = pd.DataFrame(squareform(res), index=range(0,10), columns=range(0,10))
distance

,0,1,2,3,4,5,6,7,8,9
0,0.00,813.93,513.64,513.64,824.25,802.83,513.64,790.83,799.05,824.60
1,813.93,0.00,1142.43,1142.43,142.21,545.63,1142.43,550.71,542.50,529.36
2,513.64,1142.43,0.00,0.00,1103.83,1218.74,0.00,1210.20,1216.18,1234.60
3,513.64,1142.43,0.00,0.00,1103.83,1218.74,0.00,1210.20,1216.18,1234.60
4,824.25,142.21,1103.83,1103.83,0.00,630.24,1103.83,635.35,627.61,614.65
5,802.83,545.63,1218.74,1218.74,630.24,0.00,1218.74,24.66,7.35,64.25
6,513.64,1142.43,0.00,0.00,1103.83,1218.74,0.00,1210.20,1216.18,1234.60
7,790.83,550.71,1210.20,1210.20,635.35,24.66,1210.20,0.00,26.04,88.00
8,799.05,542.50,1216.18,1216.18,627.61,7.35,1216.18,26.04,0.00,62.02
9,824.60,529.36,1234.60,1234.60,614.65,64.25,1234.60,88.00,62.02,0.00

In [5]:
res = pdist(verikumesi, 'cosine')
pd.options.display.float_format = '{:.2f}'.format
distance = pd.DataFrame(squareform(res), index=range(0,10), columns=range(0,10))
distance

     0    1    2    3    4    5    6    7    8    9
0 0.00 0.51 0.05 0.05 0.51 0.46 0.05 0.43 0.45 0.50
1 0.51 0.00 0.49 0.49 0.01 0.87 0.49 0.86 0.86 0.87
2 0.05 0.49 0.00 0.00 0.45 0.60 0.00 0.58 0.59 0.63
3 0.05 0.49 0.00 0.00 0.45 0.60 0.00 0.58 0.59 0.63
4 0.51 0.01 0.45 0.45 0.00 0.84 0.45 0.84 0.84 0.83
5 0.46 0.87 0.60 0.60 0.84 0.00 0.60 0.00 0.00 0.02
6 0.05 0.49 0.00 0.00 0.45 0.60 0.00 0.58 0.59 0.63
7 0.43 0.86 0.58 0.58 0.84 0.00 0.58 0.00 0.00 0.03
8 0.45 0.86 0.59 0.59 0.84 0.00 0.59 0.00 0.00 0.02
9 0.50 0.87 0.63 0.63 0.83 0.02 0.63 0.03 0.02 0.00

In [6]:
res = pdist(verikumesi, 'cityblock') #manhattan
pd.options.display.float_format = '{:.2f}'.format
distance = pd.DataFrame(squareform(res), index=range(0,10), columns=range(0,10))
distance

,0,1,2,3,4,5,6,7,8,9
0,0.00,1771.00,570.00,570.00,1728.01,1544.09,570.00,1512.06,1536.04,1599.99
1,1771.00,0.00,2341.00,2341.00,267.01,1211.13,2341.00,1227.10,1199.08,1139.03
2,570.00,2341.00,0.00,0.00,2298.01,2114.09,0.00,2082.06,2106.04,2169.99
3,570.00,2341.00,0.00,0.00,2298.01,2114.09,0.00,2082.06,2106.04,2169.99
4,1728.01,267.01,2298.01,2298.01,0.00,1342.12,2298.01,1358.09,1330.07,1270.02
5,1544.09,1211.13,2114.09,2114.09,1342.12,0.00,2114.09,32.05,12.05,72.10
6,570.00,2341.00,0.00,0.00,2298.01,2114.09,0.00,2082.06,2106.04,2169.99
7,1512.06,1227.10,2082.06,2082.06,1358.09,32.05,2082.06,0.00,28.02,88.07
8,1536.04,1199.08,2106.04,2106.04,1330.07,12.05,2106.04,28.02,0.00,64.05
9,1599.99,1139.03,2169.99,2169.99,1270.02,72.10,2169.99,88.07,64.05,0.00

In [7]:
res = pdist(verikumesi, 'chebyshev')
pd.options.display.float_format = '{:.2f}'.format
distance = pd.DataFrame(squareform(res), index=range(0,10), columns=range(0,10))
distance

       0      1       2       3      4       5       6       7       8       9
0   0.00 441.00  512.00  512.00 457.00  520.00  512.00  520.00  520.00  520.00
1 441.00   0.00  832.00  832.00 103.00  354.00  832.00  354.00  354.00  354.00
2 512.00 832.00    0.00    0.00 729.00 1032.00    0.00 1032.00 1032.00 1032.00
3 512.00 832.00    0.00    0.00 729.00 1032.00    0.00 1032.00 1032.00 1032.00
4 457.00 103.00  729.00  729.00   0.00  434.00  729.00  434.00  434.00  434.00
5 520.00 354.00 1032.00 1032.00 434.00    0.00 1032.00   24.00    5.00   64.00
6 512.00 832.00    0.00    0.00 729.00 1032.00    0.00 1032.00 1032.00 1032.00
7 520.00 354.00 1032.00 1032.00 434.00   24.00 1032.00    0.00   26.00   88.00
8 520.00 354.00 1032.00 1032.00 434.00    5.00 1032.00   26.00    0.00   62.00
9 520.00 354.00 1032.00 1032.00 434.00   64.00 1032.00   88.00   62.00    0.00

In [8]:
res = pdist(verikumesi, 'jaccard')
pd.options.display.float_format = '{:.2f}'.format
distance = pd.DataFrame(squareform(res), index=range(0,10), columns=range(0,10))
distance

     0    1    2    3    4    5    6    7    8    9
0 0.00 0.70 0.38 0.38 0.70 0.93 0.38 0.93 0.93 0.93
1 0.70 0.00 0.70 0.70 0.60 1.00 0.70 1.00 1.00 1.00
2 0.38 0.70 0.00 0.00 0.70 0.93 0.00 0.93 0.93 0.93
3 0.38 0.70 0.00 0.00 0.70 0.93 0.00 0.93 0.93 0.93
4 0.70 0.60 0.70 0.70 0.00 1.00 0.70 1.00 1.00 1.00
5 0.93 1.00 0.93 0.93 1.00 0.00 0.93 0.58 0.50 0.58
6 0.38 0.70 0.00 0.00 0.70 0.93 0.00 0.93 0.93 0.93
7 0.93 1.00 0.93 0.93 1.00 0.58 0.93 0.00 0.42 0.33
8 0.93 1.00 0.93 0.93 1.00 0.50 0.93 0.42 0.00 0.50
9 0.93 1.00 0.93 0.93 1.00 0.58 0.93 0.33 0.50 0.00